* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

:root {
  --letra: rgb(71, 61, 61);
  --beige: rgb(248, 228, 184);
  --cafe-oscuro: #282c34;

  --titulo-h1: 2.6rem;
  --titulo-h2: 1.5rem;
  --titulo-h3: 1.2rem;
  --parrafo: 1rem;
}
