* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lilita One", sans-serif;
}

:root {
  --letra: rgb(71, 61, 61);
  --beige: rgb(248, 228, 184);
  --beige-hover: rgb(255, 255, 255);
  --cafe-oscuro: #282c34;
  --verde-claro: rgb(110, 240, 105);
  --rojo-claro: rgb(223, 91, 91);
  --rojo-hover: rgb(231, 43, 43);
  --azul-claro: rgb(173, 216, 230);
  --azul-oscuro: rgb(116, 116, 250);

  --titulo-h1: 2.6rem;
  --titulo-h2: 1.5rem;
  --titulo-h3: 1.4rem;
  --parrafo: 1rem;
}
