.formulario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.formulario-contenido {
  background: var(--beige-hover);
  padding: 4rem;
  border-radius: 10px;
  min-width: 300px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario-contenido input {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--letra);
  font-size: var(--titulo-h2);
}

.formulario-contenido p {
  color: var(--letra);
  font-size: var(--titulo-h2);
}

.formulario-contenido button {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--beige);
  background-color: var(--azul-oscuro);
  font-weight: 600;
}

.formulario-contenido button:hover {
  color: var(--letra);
  background-color: var(--azul-claro);
}

.cerrar-formulario {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  font-size: var(--titulo-h1);
}
